.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.badge {
  font-size: 0.75rem;
  padding: 0.5em;
  line-height: 1;
  vertical-align: baseline;
}

.badge.rounded-pill {
  border-radius: 10rem;
}

.badge.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
  