.registerForm {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    margin: 0;
    background-color: #f8f9fa;
}
.card {
    width: 100%;
    max-width: 400px;
}
