.registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  margin: 0;
  padding-top: 2rem;
  background-color: #f8f9fa;
}

.text-link {
  text-decoration: none;
}

.card {
  width: 100%;
  max-width: 400px;
}
