
<div class="sidebar bg-light bg-gradient p-3" id="sidebar">
    <h4>Filters <i class="bi bi-filter-left"></i></h4>
    <hr class="sidebar-separator">
    
    <div class="mb-12">
      <h5>Category</h5>
      <ul class="list-unstyled">
        <div class="form-check form-switch">
        <li><input class="form-check-input" type="checkbox"  id="Men" /> <label class="form-check-label" for="men">Men</label></li>
      </div>
      <div class="form-check form-switch">
        <li><input class="form-check-input" type="checkbox" id="Women" /> <label for="women">Women</label></li>
      </div>
      <div class="form-check form-switch">
        <li><input class="form-check-input" type="checkbox" id="Unisex" /> <label for="unisex">Unisex</label></li>
      </div>
      </ul>
    </div>
    <hr class="sidebar-separator">
  
    <!-- Price Range Filter -->
    <div class="mb-12">
      <h5>Price Range</h5>
      <input type="range" class="form-range" id="priceRange" min="0" max="500" step="10">
      <p>Price: <span id="priceValue">0 - 500</span></p>
    </div>
    <hr class="sidebar-separator">
  
    <!-- Size Filter -->
    <div class="mb-12">
      <h5>Sizes</h5>
      <ul class="list-unstyled row g-4" id="shoe-size">
        <div class="col-2 p-2">
        <input type="checkbox" class="btn-check" id="size40" >
        <label class="btn btn-outline-primary" for="size40">40</label><br>
        <input type="checkbox" class="btn-check" id="size41" >
        <label class="btn btn-outline-primary" for="size41">41</label><br>
        <input type="checkbox" class="btn-check" id="size42" autocomplete="off">
        <label class="btn btn-outline-primary" for="size42">42</label><br>
      </div>
      
      <div class="col-2 p-2">
        <input type="checkbox" class="btn-check" id="size43" autocomplete="off">
        <label class="btn btn-outline-primary" for="size43">43</label><br>
        <input type="checkbox" class="btn-check" id="size44" autocomplete="off">
        <label class="btn btn-outline-primary" for="size44">44</label><br>
        <input type="checkbox" class="btn-check" id="size45" autocomplete="off">
        <label class="btn btn-outline-primary" for="size45">45</label><br>
      </div>
      <div class="col p-2">
        <input type="checkbox" class="btn-check" id="size46" autocomplete="off">
        <label class="btn btn-outline-primary" for="size46">46</label><br>
        <input type="checkbox" class="btn-check" id="size47" autocomplete="off">
        <label class="btn btn-outline-primary" for="size47">47</label><br>
      </div>
      </ul>
    </div>
    <hr class="sidebar-separator">
  </div>
  
