<div class="d-flex align-items-center mb-4">
    <div class="me-3 position-relative">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
        1
      </span>
      <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6e8adfbb-f9e9-41ba-92cc-36ce7d5612e4/AIR+JORDAN+1+MID.png" class="border rounded me-3" style="height: 96px; width: 96x;" />
    </div>
    <div class="">
      <a href="#" class="nav-link">
        Air Jordan 1 Mid <br />
        Men's shoes
      </a>
      <div class="price text-muted">Total: $295.99</div>
    </div>
  </div>
