.text-white.py-5 {
    background-image: url('https://www.si.com/.image/ar_16:9,c_fill,cs_srgb,fl_progressive,g_xy_center,q_auto:good,w_1200,x_1994,y_1934/MTk4MTQ4NTkzMjI2MzU5OTk4/nike-lebron.jpg');  // Use the correct path to your image
    background-size: cover;
    background-position: center;
    color: white; 
    height: 500px; // Ensures the text remains white over the background
  }